/* styles_equipos.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8a8787;
    padding: 10px;
    border-radius: 8px;
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.search-form input[type="text"]:focus {
    border-color: #8a8787;
    outline: none;
}

.search-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8a8787;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #8a8787;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #8a8787;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #8a8787;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #8a8787;
}

.maintenance-button {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.maintenance-button:hover {
    background-color: #218838;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination-button {
    display: inline-block;
    padding: 5px 10px; /* Tamaño más pequeño */
    margin: 0 5px;
    background-color: #8a8787;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination-button:hover {
    background-color: #8a8787;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button.back-button {
    display: inline-block;
    padding: 10px 20px; /* Tamaño más grande */
    background-color: #8a8787;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button.back-button:hover {
    background-color: #8a8787;
}


